html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .will-transform {
    will-change: transform;
  }
  .z--1 {
    z-index: -1;
  }
}

@import '~react-image-gallery/styles/css/image-gallery.css';

.image-gallery-icon:hover {
  @apply text-pink-700;
}
.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  @apply border-pink-700;
}
