html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .will-transform {
    will-change: transform;
  }
}
